.doc_wrap a {
	color: #797979;
	text-decoration: none;
	transition: all 0.2s;
}
.doc_wrap a:hover, .doc_wrap .hover {
	color: #16dcb8;
}


/* 总体内容部分 */
.doc_wrap {
	width: 100%;
	height: 100%;
	/* 最小阈值 */
	min-width: 1200px;
	min-height: 675px;
	line-height: 100%;
	color: #797979;
	background: url(../../assets/doctor/bg.jpg) no-repeat;
	background-size: 100% 100%;
}


/* 左侧部分 */
.doc_aside {
	width: 18%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	text-align: center;
}

/* 标题 logo */
.logo {
	height: 12%;
	border-bottom: 2px solid #16dcb8;
	position: relative;
}
.logo .logo_span {
	display: inline-block;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 20px;
	margin-left: 50%;
	left: -24px;
	background-image: url('/static/title1_bg.png');
	background-size: 80%;
	background-position-x: center;
	background-repeat: no-repeat;
}

/* 左侧导航内容 */
.aside_content {
	/* padding: 33px; */
	padding: 6%;
	height: 65%;
}
.content_ul {
	height: 100%;
}
.content_ul li {
	/* height: 51px; */
	/* height: 6%; */
	/* line-height: 51px; */
	height: 40px;
	line-height: 40px;
}
.content_ul li span {
	padding-left: 26px;
}

/* 底部信息区域 */
.aside_foot {
	border-top: 2px solid #dddddd;
	height: 18%;
}
/* 医生信息 */
.foot_docMes {
	/* height: 50%; */
	padding: 20px 0;
}
.foot_docMes img {
	height: 35px;
	border-radius: 50%;
	vertical-align: middle;
}
.foot_docMes span {
	padding-left: 30px;		
}
/* 退出登录 */
.foot_logout {
	/* height: 50%; */
}
.foot_logout div {
	width: 60%;
	margin: auto;
}
.foot_logout i {
	margin-left: -15px;
}
.foot_logout span {
	float: right;
	margin-right: 8px;
}

/* 右侧内容部分 */
.doc_content {
	width: 82%;
	height: 100%;
	margin-left: 18%;
	overflow: hidden;
}

/* 右侧上方主体内容区域 */
.doc_con_wrap {
	width: 90%;
	height: 87%;
	margin: 2% auto;
	/* background: lightcoral; */
}


/**
 * 接下来是路由中的一些公共样式
 */
/* 标题 */
.docCon_title {
	height: 8%;
	padding-left: 40px;
	/* 弹性布局 */
	display: flex;
	align-items: flex-end;
}
.docCon_title h2 {
	width: 150px;
	height: 48px;
	background: url(../../assets/title_bg.png) no-repeat 5px 0px;
	/* 弹性布局 */
	-webkit-display: flex;
	display: flex;
	align-items: center;
	justify-content: center;
	/* 字体 */
	color: white;
	font-size: 16px;
	font-weight: normal;
}
.docCon_title h2 span {
	padding-top: 8%;
}

/* 内容列表主体 */
.docCon_main {
	height: 92%;
	padding: 0 30px;
	background: rgba(255, 255, 255, 0.9);
	/* 盒阴影 */
	-webkit-box-shadow: -2px 2px 5px lightgray;
	-moz-box-shadow: -2px 2px 5px lightgray;
	-ms-box-shadow: -2px 2px 5px lightgray;
	-o-box-shadow: -2px 2px 5px lightgray;
	box-shadow: -2px 2px 5px lightgray;
	/* background: yellow; */
}



/**
 * 右侧底部三个设置项   勿动!!!
 */
.doc_con_foot {
	height: 7.1%;
	padding: 0 5%;
	background: white;
	/* 弹性布局 */
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.doc_con_foot i {
	margin-left: 20px;
}